{% extends 'baseUser.html.twig' %}


{% block body %}

    <h2>Vins Blanc</h2>


    {{ form (wine) }}

    <div id="white">


    </div>



    <script type="text/javascript">

        /*
        let vin = document.getElementById("form_vin").options[this.selectedIndex].value;

        document.getElementById('form_vin').addEventListener("click", function () {


            console.log (vin);


        })*/

        document.getElementById('form_vin').selectedIndex = -1;

        document.getElementById('form_vin').addEventListener("change", function(e)
        {

            window.location.href = '/blanc/' + (e.target.options[e.target.selectedIndex].innerText);
        })


        function selectVin () {
            var xhr = new XMLHttpRequest();

            xhr.open('GET', 'blanc')

            xhr.addEventListener('readystatechange', function() { // On gère ici une requête asynchrone

                if (xhr.readyState === 4 && xhr.status === 200) { // Si le fichier est chargé sans erreur

                    var dd = this.responseText;
                    console.log (dd);

                    document.getElementById('white').innerHTML = '<span>' + xhr.responseText + '</span>'; // Et on affiche !

                }

            });

            xhr.send(); // La requête est prête, on envoie tout !
        }

        //document.addEventListener("click", selectVin);

    </script>


{% endblock %}