{% extends 'baseUser.html.twig' %}

{% block body %}

<h2>Vins Rosé</h2>

    {% for vin in vins %}

        <div class="container-bouteille">

            {{ vin.name }}

            <img class="img-vin" src="{{ vin.image }}">

        </div>

    {% endfor %}


{% endblock %}