{% extends 'baseUser.html.twig' %}

{% block body %}

<h2>Vins Rouge</h2>


    <div class="vin">

        {{ form (wine) }}

    </div>



    <script type="text/javascript">

        document.getElementById('form_vin').selectedIndex = -1;

        document.getElementById('form_vin').addEventListener("change", function(e)
        {

            window.location.href = '/rouge/' + (e.target.options[e.target.selectedIndex].innerText);
        })




    </script>





{% endblock %}


