{% extends 'base.html.twig' %}

{% block body %}


    <main class="container">
        <nav class="menu">
<tr>

    <td>{{ vins.name }}</td>
    <td>{{ vins.color }}</td>
    <td>{{ vins.description }}</td>
    <td><img src="{{ vins.image }}"></td>

</tr>
        </nav>
    </main>

{% endblock %}