


.user-info > span {
    display: none;
}



.user-info{

    display: flex;
    justify-content: flex-end;


}

/********header*********/
.strat {

    color: #565656;


}

header {
    background-image: url("https://images-na.ssl-images-amazon.com/images/I/51bznI8gdwL._SY355_.jpg");
    height: 300px;
    padding: 0px;
    text-align: center;
}

h1 {
    background-color: #868686;
    border: black solid 2px;
    border-radius: 180px;
    text-align: center;
    text-shadow: 2px 2px white;

}

h2 {
    background-color: #868686;
    border: black solid 2px;
    border-radius: 180px;
    text-align: center;
    top: 8%;

}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 10%;
    line-height: 2rem;
    font-size: 2em;
    margin-top: 50px;
    margin-left: 0;
    position: fixed;

}
#bienvenu {

    font-size: 2em;
    color: yellow;
    text-shadow: 1px 1px #313131;
    text-decoration: none;
}

/*****menu vin************/
#rouge {

     background-color: #C82829;
     border-bottom-right-radius: 180px;
     border-top-right-radius: 180px;
     color: white;
     text-decoration: none;


}



#rouge:hover{

    font-size: 1.8em;
    width: 3.5em;
    height: 50px;
}



#rose {

    background-color: palevioletred;
    border-bottom-right-radius: 180px;
    border-top-right-radius: 180px;
    color: white;
    text-decoration: none;

}

#rose:hover{
    font-size: 1.8em;
    width: 3.5em;
    height: 50px;


}

#blanc {

    background-color: yellow;
    border-bottom-right-radius: 180px;
    border-top-right-radius: 180px;
    color: black;
    text-decoration: none;

}

#blanc:hover{
    font-size: 1.8em;
    width: 3.5em;
    height: 50px;


}

#pet {

    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9RJT-hvvpYEj8itqekuyReZWyTNo36mk-RNM-6vpkZM3Nb1Fn7A");
    border-bottom-right-radius: 180px;
    border-top-right-radius: 180px;
    color: black;
    text-decoration: none;

}

#pet:hover{
    font-size: 1.8em;
    width: 3.5em;
    height: 50px;


}

/***********crud+autre************/
.bouteille{
    max-height: 200px;
}

.container-bouteille{

    display: flex;
    flex-direction: column;

    text-align: center;
}

.btn-delet {

    background-color: #C82829;
    border-radius: 180px;
    font-size: 1.5em;
    color: #f6f6f6;

}

.btn-save {

    background-color: yellow;
    border-radius: 180px;
    font-size: 1.5em;
}

.index {

    background-color: #5eb5e0;
    border-radius: 180px;
    font-size: 1.5em;
    text-decoration: none;
}

.edit {

    background-color: palevioletred;
    border-radius: 180px;
    font-size: 1.5em;
    text-decoration: none;

}

.show{
    background-color: yellow;
    border-radius: 180px;
    font-size: 1.5em;
    text-decoration: none;

}

.btn-retour {
    background-color: palevioletred;
    border-radius: 180px;
    font-size: 1.5em;
    text-decoration: none;
    text-shadow: 1px 1px #ffcc00;
    padding: 7px 7px 7px 7px;
}





.vin-index {
    font-size: 1.5em;
    background-color: yellow;
    border-radius: 180px;
    text-decoration: none;

}

.mets-index {
    font-size: 1.5em;
    background-color: #5eb5e0;
    border-radius: 180px;
    text-decoration: none;
}

.delog {
    font-size: 1.5em;
    background-color: #C82829;
    border-radius: 180px;
    text-decoration: none;
    padding: 7px 7px 7px 7px;
}

.btn-user {
    font-size: 1.5em;
    background-color: palevioletred;
    border-radius: 180px;
    text-decoration: none;
    padding: 7px 7px 7px 7px;

}

.btn-retour {
    font-size: 1.5em;
    background-color: yellow;
    border-radius: 180px;
    text-decoration: none;
}

.btn-create {

    font-size: 1.5em;
    background-color: palevioletred;
    border-radius: 180px;
    text-decoration: none;

}

.bout{

    font-size: 1.5em;

}
.total{


    display: flex;
    margin-top: 5%;
    justify-content: center;
    text-align: center;
    font-size: 1em;
}


.vin{
    height: 200px;
    text-align: center;
    font-size: 3em;
}
#white {

    display: flex;
    justify-content: center;
    width: 300px;

}


.met{
    position: absolute;
    border-radius: 100%;
    max-height: 150px;
    z-index: 3;
    border: 4px solid darkred;
    margin: auto;
    width: 150px;


}

#img{
    display: block;
    position: absolute;
    z-index: 5;
    margin: auto;
    width: 150px;
    left:  0px;
    right: 0px;
    top: 405px;
    font-size: 2em;
}

#img:hover {
    transform: scale(1.24);
    transition: transform 0.5s;
}

#img2{
    position: absolute;
    z-index: 5;
    margin: auto;
    width: 150px;
    left: 260px;
    font-size: 2em;
    top: 505px;

}
#img2:hover {
    transform: scale(1.24);
    transition: transform 0.5s;
}

#img3{
    position: absolute;
    z-index: 5;
    margin: auto;
    width: 150px;
    left: 0px;
    font-size: 2em;
    top: 650px;
}
#img3:hover {
    transform: scale(1.24);
    transition: transform 0.5s;
}

#img4{
    position: absolute;
    z-index: 5;
    margin: auto;
    width: 150px;
    right: 260px;
    font-size: 2em;
    top: 505px;
}
#img4:hover {
    transform: scale(1.24);
    transition: transform 0.5s;
}

#img5{
    position: absolute;
    z-index: 5;
    margin: auto;
    width: 150px;
    right: 0px;
    font-size: 2em;
    top: 650px;
}
#img5:hover {
    transform: scale(1.24);
    transition: transform 0.5s;
}
#page{
    align-content: center;
    min-height: 700px;
}
.met-title{

    width: 300px;
    position: relative;
    margin-left: 22px;


}
#contenant{

    position: absolute;
    z-index: 999;
    margin: auto;
    width: 500px;
    left: 0px;
    right: 0px;
    top: 650px;
    font-size: 2em;
    text-align: center;
}
#contenant:hover {
    transform: scale(1.24);
    transition: transform 0.5s;
}
h3{
    left: 0;
    right: 0;
    top: 20px;
    position: relative;
    margin: auto;
}

#js{
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 50px;
    height: 100px;
    width: 500px;
    background: rgba(155,0,0,0.1);
    border-radius: 5em;
    border: 1px solid rgba(94,0,0,0.5);
    padding: 1em;
    color: darkred;
    font-weight: bold;
    font-family: sans serif;
    font-size: 20px;
    letter-spacing: 1.5px;
}

#lh{
    text-align: center;

    left: 0px;
    top: 50px;
}

#center{
    left: 0;
    right: 0;
    top: 50px;
}



#imgvin{


    left: 0px;
    right: 0px;
    top: 50px;
}

#lb{

    left: 0px;
    top: 50px;

}

#rh{
    right: 0px;
    top: 50px;
}

#rb{
     right: 0px;
     top: 50px;
}

.botlle{
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}








/******debut media ********/


@media (max-width: 1000px) {

    .user-info > span{
        display: inline-block;
    }

    .user-info > a {
        display: none;
    }

    .user-info > span{
        display: inline-block;
    }

    .user-info:hover > a{
        width: 60%;
        display: block;
        margin: 20px auto;
    }
    .menu{
        width: 3.3em
    }

   #img{
       top: 650px;
       right: 0;
       left: 0;
       margin: auto;

   }
   #img2{
       right: 0;
       left: 0;
       top: 800px;
       margin: auto;
   }
   #img3{
       right: 0;
       left: 0;
       top: 950px;
       margin: auto;
   }
   #img4{
       right: 0;
       left: 0;
       top: 1110px;
       margin: auto;
   }
   #img5{
       right: 0;
       left: 0;
       top: 1280px;
       margin: auto;
   }

   #imgvin{
       left: 0px;
       right: 0px;
       top: 50px;
       margin: auto;
   }
   #contenant{
       right: 0;
       left: 0;
       top: 450px;
       margin: auto;
       background: #C82829;
   }

   #js{
       display: none;
   }
   .bout{
       font-size: 15px;
   }
   .table{
       font-size: 10px;
   }
}