{% extends 'base.html.twig' %}

{% block title %}New Mets{% endblock %}

{% block body %}
    <h1>Create new Mets</h1>

    {{ include('mets/_form.html.twig') }}

    <a  class="btn-retour {{ path('mets_index') }}">back to list</a>
{% endblock %}
